h1 {
font-family: 'Pacifico', cursive;
text-align: center;
font-size: 5px;
color: DeepSkyBlue;
}
img {
  border-radius: 8px;
}
a1:hover, a1:visited, a1:link, a1:active
{
  text-decoration: none;
  background: yellow;
  color: DeepSkyBlue;
}

   
