h1 {
font-family: 'Pacifico', cursive;
text-align: center;
font-size: 5px;
color: DeepSkyBlue;
}
img {
  border-radius: 8px;
}
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  background: yellow;
  color: DeepSkyBlue;
}

   
